
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/auth.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
   <div class="flex">
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Вход в личный кабинет</span></div>
        <form action="/auth/login" method="post">
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Никнейм" id="name" name="name" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Пароль" id="password" name="password" required>
          </div>
          <div class="row button">
            <input type="submit" value="Войти">
          </div>
          <div class="signup-link">Не зарегистрированы?<a href="/auth/register">Зарегистрироваться</a></div>
        </form>
      </div>
    </div>
   <div class="img_auth">
    <!-- <img src="../images/планшет.png"> -->
   </div>
   </div>
  