<head>
    <link rel="stylesheet" type="text/css" href="../styles/contacts.css">
 
</head>

    <div class = "textC">Контакты</div>
    <div class="contacts">
        <div class="img">
            <img src="">
        </div>

        <ul class="list6b">
        </ul>

        <div class="img_palms">
            <img src="">
        </div>

    </div>    
</div>