<head>
	<link rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles/head.css">
  </head>
<header>
	<div class="head">
        <div class="logo">
			<img src="/images/лого.png" alt="Логотип">
		</div>
		<div class="navbar">
			<nav>
				<a href="/" class="link-home">Главная</a>
				<a href="/about" class="link-about">Курсы</a>
				<a href="/contacts" class="link-contacts">Контакты</a>
				<a href="/auth" class="link-auth">Вход</a>
				<div class="animation start-home"></div>
			</nav>
		</div>
		<div class="search">
			<input type="text" placeholder="Искать здесь...">
			<button type="submit"></button>
		</div>
	</div>

	<script src="/scripts/head.js" defer></script>
</header>
